@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300&display=swap');

body {
    background-color: #F29829;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    background-color: #59080F;
}

nav {}

.ronaldinho {
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    margin: 0;
    margin-left: 1%;
    color: white;
}

.robinho {

    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
    margin: 0;
    margin-left: 1%;
    text-align: center;
    margin: 5px;

}

.kaka {
    text-align: center;

}

article {
    position: absolute;
    width: 82%;
    top: 9%;
    left: 1%;
    margin: 0;
    background-color: #ffffff;
    border-radius: 15px;
}

aside {
    position: absolute;
    width: 15%;
    height: 40%;
    top: 9%;
    right: 1%;
    margin: 0;
    border-radius: 15px;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: -16%;
    left: 0%;
    width: 100%;
    height: 8%;
    background-color: #59080F;

}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20pt;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15pt;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    border-radius: 15px;

}

.texto {
    margin-top: 15px;

}

a {
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer:hover{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    animation-delay: 0s;
}